body {
  margin: 0;
  padding: 0;
}

.div1 {
  overflow: auto;
  background-color: rgb(206, 203, 57);
  top: 0;
  left: 0;
  width: 100%;
}

.div1 a {
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.div1 a:hover {
  background-color: white;
}

img {
  height: 48px;
  float: left;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 15, 44);
  color: rgb(223, 215, 215);
  padding: 14px 16px;
  text-align: center;
  align-items: center;
}

p {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.footer a {
  padding: 5px;
}
