body {
    background-image: url("C:\\Users\\relfayou2692\\OneDrive - Hamilton Wentworth District School Board\\Computer science 11\\SDLC-Project\\Images\\ConstructionPic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div {
    width:100%;
    float:left;
}
