body {
    background-image: url('ConstructionPic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div {
    width:100%;
    background-color: green;
    float:left;
}
