div.mycontainer {
    width: 100%;
    overflow: auto;
    text-align: center;
  }
  div.mycontainer div {
    width: 33%;
    float: left;
  }
.div1 {
    overflow: auto;
    background-color: rgb(206, 203, 57);
    top:0;
    left:0;
    width: 100%;
}
.div1 a {
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.div1 a:hover {
    background-color: white;
}
img {
    height: 48px;
    float:left;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(15, 15, 44);
    color: rgb(223, 215, 215);
    text-align: center;
 
 }
.bronze {
  background-color: #cf5132;
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
}
.silver {
  background-color: rgb(209, 209, 209);
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.gold {
  background-color: rgb(255, 204, 36);
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
}

