body {
  margin: 0;
  padding: 0;
}

.div1 {
  overflow: auto;
  background-color: rgb(206, 203, 57);
  top: 0;
  left: 0;
  width: 100%;
}

.div1 a {
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.div1 a:hover {
  background-color: white;
}

img {
  height: 48px;
  float: left;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.bronze,
.silver,
.gold {
  background-color: #cf5132;
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
}

.silver {
  background-color: rgb(209, 209, 209);
}

.gold {
  background-color: rgb(255, 204, 36);
}

.tiers_images {
  width: 100%;
  height: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 15, 44);
  color: rgb(223, 215, 215);
  padding: 14px 16px;
  text-align: center;
  align-items: center;
}

.footer a {
  padding: 5px;
}
