div.mycontainer {
    width: 100%;
    overflow: auto;
    text-align: center;
  }
  div.mycontainer div {
    width: 33%;
    float: left;
  }
.div1 {
    overflow: auto;
    background-color: rgb(206, 203, 57);
}
.div1 a {
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.div1 a:hover {
    background-color: white;
}
img {
    height: 48px;
    float:left;
}